html {
    height: 90vh;
}

body {
    height: 100%;
    max-width: 15cm;
    max-height: 25cm;
    font-family: "Lato", sans-serif;
    position: relative;
    margin: 0;
    display: flex;
    flex-flow: column;
}

.content {
    flex-flow: column;
    display: flex;
    align-items: stretch;
    height: 100%;
    margin-bottom: 60px;
}

.header {
    width: 100%;
    height: 40px;
    background: #222322;
    font-weight: bold;
    line-height: 1.3em;
    color: white;
    margin-bottom: 80px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222322;
    color: white;
    text-align: center;
    height: 60px;
}

.name {
    width: 100%;
    /* height: 90%; */
    background: linear-gradient(to right, #932828 0, #620000 100%);
    font-weight: bold;
    /* line-height: 1.3em; */
    /* text-align: center; */
    color: white;
}

.column {
    float: left;
    width: 33%;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.dot {
        height: 50px;
        width: 50px;
        background-color: rgb(255, 0, 0);
        border-radius: 50%;
        display: inline-block;
        position: relative;
}

.dot2 {
    height: 50px;
    width: 50px;
    background-color: rgb(83, 80, 80);
    border-radius: 50%;
    display: inline-block;
    position: relative;
}


.aktivt {
    color: green;
    font-weight: bold;
}

.inaktivt {
    color: darkred;
    font-weight: bold;
}

.center {
    color: white;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}