<!DOCTYPE html>
<html lang="en">
<title>Århus Klatreklub Medlemskort</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.js" integrity="sha512-IlZV3863HqEgMeFLVllRjbNOoh8uVj0kgx0aYxgt4rdBABTZCl/h5MfshHD9BrnVs6Rs9yNN7kUQpzhcLkNmHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.css" integrity="sha512-6QxSiaKfNSQmmqwqpTNyhHErr+Bbm8u8HHSiinMEz0uimy9nu7lc/2NaXJiUJj2y4BApd5vgDjSHyLzC8nP6Ng==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
    <div class="header">
        <div style="position: relative;">
            <img style="position: absolute;" src="/image/logo.png" alt="logo">
            <span style="position: absolute; right: 5px; top: 5px;">MEDLEMSKORT</span>
        </div>
    </div>

    <div>
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        <div style="height: 10px"></div>
        <div style="">
            <img style="padding: 3px; background-color: white; height: 35px" src="/image/ifsc.png" alt="logo">
            <img style="padding: 3px; background-color: white; height: 35px;" src="/image/uiaa.png" alt="logo">
            <img style="padding: 3px; background-color: white; height: 35px;" src="/image/dklaf.webp" alt="logo">
        </div>
    </div>



</body>