<div style="display: flex; flex: 1; justify-content: center; align-items: center;" class="row">
    <div class="column">
        <span class="{{ 'dot' if user.s1 else 'dot2' }}">
            <span class="center">S1 </span>
        </span>
    </div>
    <div class="column">
        <span class="{{ 'dot' if user.s2 else 'dot2' }}">
            <span class="center">S2</span>
        </span>
    </div>
    <div class="column">
        <span class="{{ 'dot' if user.s3 else 'dot2' }}">
            <span class="center">S3</span>
        </span>
    </div>
</div>