{% extends "base.html" %}
{% block content %}
    <span style="position: absolute; top: 100px; right: 0">
        {% if show_qr %}
        <a href="/">Billede</a>
        {% else %}
        <a href="/qr">QR</a>
        {% endif %}
    </span>
    <div style="text-align: center; height: 40vh; margin-top: 20px">
        {% if not has_img %}
            <div style="">
                <form action="image" method="POST" enctype="multipart/form-data">
                    <span style="text-align: left">
                        <input accept="image/*" type="file" name="image" id="imgID" style="display: none;" />
                        <input type="button" value="Browse..." onclick="document.getElementById('imgID').click();" />
                        <input type="hidden" name="cropX" id="cropX">
                        <input type="hidden" name="cropY" id="cropY">
                        <input type="hidden" name="cropW" id="cropW">
                        <input type="hidden" name="cropH" id="cropH">
                    </span>
                    <span style="text-align: right">
                        <button hidden="true" id="upload-btn" type="submit" name="button" value="send">Upload</button>
                    </span>
                </form>
            </div>
        {% endif %}
        <img id="user-img" style="max-width:98%; max-height:98%; margin: auto" src="{{ img }}" alt="logo">
    </div>

    <div style="width: 100%; text-align: center;">
        <span style="font-size: 2em">
            {{ user.name }}
        </span>
    </div>
    <div style="width: 100%; text-align: center; font-weight: bolder; font-size: 1.5em; margin-top: 5px">
        <span class="{{ "aktivt" if user.active else "inaktivt" }}">
            {{ "Aktivt medlem" if user.active else "Inaktivt medlem" }}
        </span>
    </div>

    {% include 'belays.html' %}
    <script src="/js/script.js"></script>
{% endblock %}
