{% extends "base.html" %}
{% block content %}
    <div style="text-align: center; margin-bottom: 10px;">
        <form action="/login" method="post">
            <p><strong>Conventus Login </strong></p>
            <label for="username">Email</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}